@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family:"Libre Baskerville";
  src: url('./assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ebebeb; */
}

